PORT=
MONGODB_URI=

#Config JWT
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRED=
JWT_REFRESH_TOKEN_EXPIRE=

#Config Mail
MAIL_USER=
MAIL_KEY=
MAIL_HOST=
MAIL_PORT=

# Config VNPay sandbox
VNPAY_PAYMENT_URL=
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_RETURN_URL=
VNPAY_IP_ADDR=